extends layout

block content
  h1 Login
  if message 
    p #{message}

  form(method='POST' action='')
    div.form-group
      label(for='username') Username:
      input#username.form-control(type='text',  name='username' required='true' minlength='3')
    div.form-group
      label(for='password') Password:
      input#password.form-control(type='password', name='password' required='true' minlength='7')        
    button.btn.btn-primary(type='submit') Submit

  p no account? 
    a(href='/sign-up') Sign Up  

  if errors
   ul
    for error in errors
     li!= error.msg
