extends layout

block content
  h1 To Test if you are truly one of us.. What is the name of the person who built this website?

  form(method='POST' action='')
    div.form-group
      label(for='codeWord') Enter Thine Name?
      input#codeWord.form-control(type='text',  name='codeWord' required='true')       
    button.btn.btn-primary(type='submit') Submit